/**************************
General Class
**************************/
a{color:#090;}
a:hover{color: #171616}


/**************************
Admin Box Style
**************************/
.admin_box_header {background:#153E2D;}
.box_header_left {background:#153E2D;}

.content_box{box-shadow: 0 2px #d6d8da;border-radius: 0 0 5px 5px;}

.admin_box_bottom {}
.box_bottom_left {}

/**************************
tabs class
**************************/

.header_tabs a span.tab{background:#09782A}
.header_tabs a span.tab_right{ }
.header_tabs a:hover span.tab , .header_tabs a.current span.tab
{background:#fff; color:#333333}
.header_tabs a:hover span.tab_right , .header_tabs a.current span.tab_right
{background:#fff;}


/**************************
table class
**************************/
.common_table thead tr th{background:#EDFEDE;color: #333;font-weight: 700; }


/**************************
page no. class
**************************/
.page_area .current {background:#64AE00; color:#333}


/**************************
search class
**************************/
.searchbox {background: url(../images/search_g.gif) no-repeat;}