/* megamenu */
.megamenu {
    width: 960px;
    position: relative;
    padding: 0 2px;
    
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; 
}
.megamenu ul {
    list-style: none;
}
.megamenu ul li {
    float: left;
    display: block;
    font-size: 12px;
    padding: 4px 0 0 0;
    line-height: 26px;
}
.megamenu ul li a {
    display: block;
    color: #FFFFFF;
    margin: 0 0 0 2px;
    padding: 1px 12px 5px 12px;
    
}
.megamenu ul li:hover a {
    background: #FFFFFF;
    
    -moz-border-radius-topleft:  2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    
    -moz-border-radius-topright:  2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
}
.megamenu ul li a:hover {
    text-decoration:none;
}
.megamenu ul li .submenu {
    width: 948px;
    display: none;
    position: absolute;
    left: 0;
    z-index: 999;
    margin: 0 0 0 3px;
    border: 1px solid #CDCDCD;
    padding: 4px;
    background-color: #FFFFFF;
    
    
    -moz-border-radius-bottomleft:  4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    
    -moz-border-radius-bottomright:  4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    
    -moz-box-shadow: 0 1px 1px #CDCDCD;
    -webkit-box-shadow: 0 1px 1px #CDCDCD;
    box-shadow: 0 1px 1px #CDCDCD;
}
.megamenu ul li:hover .submenu {
    display: block;
    border: 1px solid #CDCDCD;
    border-top: none;
}
.megamenu .submenu ul, .megamenu .submenu ol {
    list-style: disc;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.megamenu .submenu ul li, .megamenu .submenu ol li {
    float: none;
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.megamenu .submenu ul li a, .megamenu .submenu ol li a {
    display: block;
    padding: 4px 0 4px 0;
}
.megamenu .submenu ul li a:hover, .megamenu .submenu ol li a:hover {
    text-decoration: underline;
}
.megamenu  .submenu a {
    display: inline;
    color: #000000;
    padding: 2px;
    
}
.megamenu ul li ul li a strong {
    color: #222222;
    padding: 0;
    margin: 0;
}

.clearer {
    clear: both;
}

/* right-aligned menu item */
.megamenu .right {
    float: right;
    margin-right: 2px;
}
.megamenu .right .submenu {
    margin-left: 3px;
}

/* columns */
.megamenu ul li .twocols {
    float: left;
    width: 473px;
}
.megamenu ul li .threecols {
    float: left;
    width: 315px;
}
.megamenu ul li .fourcols {
    float: left;
    width: 235px;
}
.megamenu ul li .fivecols {
    float: left;
    width: 188px;
}
.megamenu ul li .sixcols {
    float: left;
    width: 156px;
}

/* megamenu red */
.megamenu_red {
    background-color: #C72032;
    background-image: linear-gradient(bottom, #C72032 5%, #E03A50 65%);
    background-image: -o-linear-gradient(bottom, #C72032 5%, #E03A50 65%);
    background-image: -moz-linear-gradient(bottom, #C72032 5%, #E03A50 65%);
    background-image: -webkit-linear-gradient(bottom, #C72032 5%, #E03A50 65%);
    background-image: -ms-linear-gradient(bottom, #C72032 5%, #E03A50 65%);
}
.megamenu_red ul li:hover a {
    color: #C72032;
}

/* megamenu blue */
.megamenu_blue {
    background-color: #3220C7;
    background-image: linear-gradient(bottom, #3220C7 5%, #503AE0 65%);
    background-image: -o-linear-gradient(bottom, #3220C7 5%, #503AE0 65%);
    background-image: -moz-linear-gradient(bottom, #3220C7 5%, #503AE0 65%);
    background-image: -webkit-linear-gradient(bottom, #3220C7 5%, #503AE0 65%);
    background-image: -ms-linear-gradient(bottom, #3220C7 5%, #503AE0 65%);
}
.megamenu_blue ul li:hover a {
    color: #3220C7;
}

/* megamenu orange */
.megamenu_orange {
    background-color: #FF8F1F;
    background-image: linear-gradient(bottom, #FF8F1F 5%, #FFA852 65%);
    background-image: -o-linear-gradient(bottom, #FF8F1F 5%, #FFA852 65%);
    background-image: -moz-linear-gradient(bottom, #FF8F1F 5%, #FFA852 65%);
    background-image: -webkit-linear-gradient(bottom, #FF8F1F 5%, #FFA852 65%);
    background-image: -ms-linear-gradient(bottom, #FF8F1F 5%, #FFA852 65%);
}
.megamenu_orange ul li:hover a {
    color: #FF8F1F;
}

/* megamenu green */
.megamenu_green {
    background-color: #009900;
    background-image: linear-gradient(bottom, #009900 5%, #00CC00 65%);
    background-image: -o-linear-gradient(bottom, #009900 5%, #00CC00 65%);
    background-image: -moz-linear-gradient(bottom, #009900 5%, #00CC00 65%);
    background-image: -webkit-linear-gradient(bottom, #009900 5%, #00CC00 65%);
    background-image: -ms-linear-gradient(bottom, #009900 5%, #00CC00 65%);
}
.megamenu_green ul li:hover a {
    color: #009900;
}

/* megamenu purple */
.megamenu_purple {
    background-color: #9900CC;
    background-image: linear-gradient(bottom, #9900CC 5%, #BF00FF 65%);
    background-image: -o-linear-gradient(bottom, #9900CC 5%, #BF00FF 65%);
    background-image: -moz-linear-gradient(bottom, #9900CC 5%, #BF00FF 65%);
    background-image: -webkit-linear-gradient(bottom, #9900CC 5%, #BF00FF 65%);
    background-image: -ms-linear-gradient(bottom, #9900CC 5%, #BF00FF 65%);
}
.megamenu_purple ul li:hover a {
    color: #9900CC;
}

/* megamenu brown */
.megamenu_brown {
    background-color: #663300;
    background-image: linear-gradient(bottom, #663300 5%, #994D00 65%);
    background-image: -o-linear-gradient(bottom, #663300 5%, #994D00 65%);
    background-image: -moz-linear-gradient(bottom, #663300 5%, #994D00 65%);
    background-image: -webkit-linear-gradient(bottom, #663300 5%, #994D00 65%);
    background-image: -ms-linear-gradient(bottom, #663300 5%, #994D00 65%);
}
.megamenu_brown ul li:hover a {
    color: #663300;
}

/* megamenu black */
.megamenu_black {
    background-color: #3D3D3D;
    background-image: linear-gradient(bottom, #3D3D3D 5%, #575757 65%);
    background-image: -o-linear-gradient(bottom, #3D3D3D 5%, #575757 65%);
    background-image: -moz-linear-gradient(bottom, #3D3D3D 5%, #575757 65%);
    background-image: -webkit-linear-gradient(bottom, #3D3D3D 5%, #575757 65%);
    background-image: -ms-linear-gradient(bottom, #3D3D3D 5%, #575757 65%);
}
.megamenu_black ul li:hover a {
    color: #3D3D3D;
}

.cleaner{display:block;clear:both;content:'.';visibility:hidden;height:0;font-size:0;line-height:0}