<?php
// 
$host = "local";
// $host = "local";
if ($host == "local") {
    $db_hostname='localhost';
    $db_username='root';
    $db_password='';
    $db_database='';
    $db_tbprefix='dp';

    define("BASE_URL", "");

    error_reporting(E_ALL);
} else {
    $db_hostname='shareddb1a.hosting.stackcp.net';
    $db_username='dbusername';
    $db_password='dbpasword001122';
    $db_database='ed1nar3_live';
    $db_tbprefix='dp';
    // $db_username='sysAdmin';
    // $db_password='TUalm1vc0F0g';

    define("BASE_URL", "https://v2.edinars.dz");

    error_reporting(0);
}
// 
$folder='';
// 
date_default_timezone_set('Africa/Algiers');

// 
// PLEASE DO NOT CHANGE ANY PARAMETERS MANUALLY! USE ADMIN AREA FOR IT   ###
// 
$site_name='Edinars';
$site_title='Bienvenue - Edinars Services de Paiements en Algerie';
$site_charset='UTF-8';
$site_copyrights='Edinars.com';
$site_keywords='payment, processor, payment gateway, paypal, pay online, escrow, send money, receive money, send cash online, online payment, start your own paypal, payment processor, pay money, ipn';
$site_description='Edinars Enterprise - Services de paiements online';

$admin_email='Services Edinars<no-replay@edinars.dz>';
$admin_contact_email='Contact Edinars<support@edinars.dz>';
$CCP_email = 'Services CCP Edinars<sales@hostdz.com>';
$withdraw_email = 'Services de retirer Edinars<sales@hostdz.com>';
$error_email = 'support Edinars<sales@hostdz.com>';

$admin_username='admin';
$admin_password='admin';
$admin_secure_pwd = 'hostdz1977';
$admin_check_ip=false;
$admin_ip_address='';

$protect_html='';
$default_language='French';

$mail_address='';
$Contact_Numbre = '';
$passlen=9;
$passatt=3;
$currency='DA';
$currsize='2';
$dateformat='d/m/Y H:i:s';
$smalldateformat = 'd/m/Y';
$StatGraphic = 10 ;
$StatGraphicTransaction = 10;
$StatGraphicTransactionRatio = 10 * $StatGraphicTransaction ;
$StatGraphicTransactionTotal = 10000  ;
$use_turing=false;
$use_numbers=true;
$turing_size=8;
$turing_quality=75;
$turing_bgfile='images/turing_bg.jpg';
$use_extreg=false;

$signup_use=false;
$signup_bonus=10;
$maxemails=3;

$minimal_transfer=100;
$maximal_transfer=20000;
$transfer_percent=2.5;
$transfer_fee=20;
$refund_period=30;

$affiliate_program=false;
$affiliate_levels=0;
$affiliate_percent=0.00;

$advertising = false;

$topup_lenght_number=16;
$ccp_account ='';

$dep_minimal=500;
$dep_maximal=100000;

$dep_ccp_fee=0;
$dep_ccp_percent=2.50;
$dep_ccp_username='';
$dep_ccp_password='';
$dep_ccp_use=true;

$dep_topup_fee=0;
$dep_topup_percent=0;
$dep_topup_username='';
$dep_topup_password='';
$dep_topup_use=true;

$dep_Ediffuse_fee=0;
$dep_Ediffuse_percent=0;
$dep_Ediffuse_username='';
$dep_Ediffuse_password='';
$dep_Ediffuse_use=true;

$wdr_minimal=1000;
$wdr_maximal=100000.00;
$wdr_cc_use=true;
$wdr_cc_fee=500.00;

$wdr_ccp_use=true;
$wdr_ccp_fee=500.00;

$flexy_fee = 5;
$flexy_minimal = 100;
$flexy_maximal = 10000;

$sms_fee = 5;

$base_url = rtrim(BASE_URL, '/') . '/';

// smtp credentials
$smtp_mailer='smtp';
$smtp_host='smtp.cpower.software';
$smtp_port=465;
$smtp_user='setup@cpower.software';
$smtp_password='CRzf$QnFN8!';
$smtp_encryption='ssl';
$smtp_from_address='setup@cpower.software';
$smtp_from_name=$site_name;

// 
require 'consts.php';
require 'api/v1/mail.php';
require 'common.php';
// 